body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

.logo {
    font-size: 6rem;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E5E4E2;
    display: flex;
    justify-content: center;
    text-shadow:
        2px 2px 0px #ff0000,
        -2px -2px 0px #00ffff;
}

.belowlogo {
    font-size: 2rem;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E5E4E2;
    display: flex;
    justify-content: center;
}

.belowlogo a {
    color: #E5E4E2;
    text-decoration: none; 
}

.belowlogo a:hover {
    color: #9966cc;
    text-shadow:
        1px 1px 0px #ff0000,
        -1px -1px 0px #00ffff;
}

.letter {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.letter:hover {
    transform: translateY(-10px);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

h1, .h1 {
    margin-top: 30px;
    margin-bottom: 0;
}

.panel {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.panel:nth-child(odd) {
    transform: translateY(-5%);
}

.panel:nth-child(even) {
    transform: translateY(5%);
}

.panel:hover {
    transform: scale(1.05);
    z-index: 100;
}

.panel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.panel a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.arrow {
    display: inline-block;
    animation: arrowFlow 2s linear infinite;
}

@keyframes arrowFlow {
    0% {
        color: #E5E4E2;
    }
    50% {
        color: #9966cc;
        text-shadow:
            1px 1px 0px #ff0000,
            -1px -1px 0px #00ffff;
    }
    100% {
        color: #E5E4E2;
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .panel {
        transform: translateX(0);
    }
    .panel:nth-child(odd) {
        transform: translateY(0);
    }
    
    .panel:nth-child(even) {
        transform: translateY(0);
    }
}
